
<!--header-->
<div class="container" style="width:100%">
<div class="row" >
<div class="col-xs-12" style="background-color: steelblue;width:100%;height:13%;">
<h1 style="position: relative;text-align:center;color: whitesmoke; font-family: 'Times New Roman', Times, serif">Routemapia</h1>
    </div>

</div>
</div>


<!--notification bar-->
<div class="container">
<div class="row">
    <div class="col-lg-4" id="alerttag" style="width: 100%;display:none">
            <div class="bs-component">
              <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert" (click)="dismiss()">×</button>
                <strong>Incorrect username/password</strong> <span  class="alert-link"> &nbsp; Change a few things up</span> and try submitting again.
              </div>
            </div>
          </div>
        
</div>
    </div >

    <!--login box-->
<div class="container">
    <div class="row" style="margin-top:5%">
         <div class="col-xs-6" >
         <div class="jumbotron">
  <h2>Welcome to Route Mapia</h2>
  <p>"Lets make gas delivery even better"</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  <img src="/img/maps.jpg"  style="width:auto;height:128px;margin-left:40px;margin-top:40px">
</div>

      
     
</div>
        <div class="col-xs-6">
                <div class="panel panel-primary" style="max-width: 450px">
           
                     <div class="panel-heading">
                      <h3 class="panel-title" style="text-align: center">Login</h3>
                      </div>
                      <div class="panel-body">
                      <input type="text" class="form-control" id="inputError" placeholder="Name" [(ngModel)]="name">
                      <br/>
                      <input type="password" class="form-control" id="inputError" placeholder="Password" [(ngModel)]="password">
                      </div>
     <button class="btn btn-primary" style="position: relative;margin-left: 45%;margin-top: 5%;margin-bottom: 5%" (click)="submit()">Login</button>
                </div>
        
    
        </div>
     </div>

</div>

